body
{
	margin: 0px auto;
	padding: 0;
}
.main
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.slider
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup1
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup2
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup3
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup4
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
	background-color: rgba(0,0,0.5,0.5);

}
.conup5
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup6
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}
.conup7
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;

}
.conup8
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;


}
.footer
{
	width: 1420px;
	margin: 0px auto;
	padding: 0;
}